* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    max-width: 1100px;
    margin: 0 auto;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #1d4d72;
}

header p {
    padding: 10px;
    text-align: center;
    color: #eeeeee;
}

header nav {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333333;
}

header nav a {
    text-decoration: none;
    color: #eeeeee;
}

body header nav a:hover {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #eeeeeee5;
}


/* Main */
main {
    display: grid;
    grid-template: auto auto / 2fr 1fr;
}

main h1 {
    padding: 15px;
    text-align: center;
    color: #000000;
    grid-area: 1 / 1 / 2 / 3;
}

.card {
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 5px;
    overflow: hidden;
}

.sobre {
    margin-left: 25px;
}

.sobre-mim {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
}

.sobre-mim * {
    padding: 10px;
}

.recursos-web-dev {
    margin-right: 25px;
    display: grid;
    grid-template-rows: auto 1fr;
}

.recursos-web-dev ul {
    margin-left: 40px;
    align-self: center;
}

.sobre-mim h2,
.recursos-web-dev h2 {
    text-align: center;
    background-color: #1d4d72;
    color: #eeeeee;
    font-size: 1.5rem;
    grid-area: 1 / 1 / 2 / 4;
    padding: 0;
}

.sobre-mim-p1 {
    text-align: left;
    align-self: center;
    grid-area: 2 / 1 / 3 / 3;
}

.sobre-mim img {
    min-width: 100px;
    max-width: 150px;
    height: auto;
    border: 1px solid #000000;
    padding: 0;
    margin: 10px;
    grid-area: 2 / 3 / 3 / 4;
}

.sobre-mim h3 {
    text-align: center;
    padding: 0;
    margin: 0 60px;
    border-bottom: 1px solid #000000;
    grid-area: 3 / 1 / 4 / 3;
}

.sobre-mim figure * {
    padding: 0;
}

.sobre-mim figure {
    text-align: center;
    align-self: center;
    grid-area: 4 / 1 / 5 / 2;
}



.sobre-mim figure img {
    place-self: center;
    max-width: 150px;
    height: auto;
}

.sobre-mim figure figcaption {
    text-align: center;
}

.sobre-mim-p2 {
    text-align: left;
    align-self: center;
    grid-area: 4 / 2 / 5 / 4;
}


main section p {
    text-align: center;
}


/* Footer */
footer {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    padding: 10px;
    margin-top: 20px;
    background-color: #1d4d72;
    color: #eeeeee;
}

footer .copyright {
    text-align: center;
}

footer .ultima-modificacao {
    text-align: center;
    color: #eef133;
}

/* Responsivo */
@media (max-width: 640px) {

    main {
        grid-template-columns: 100%;
    }

    .card {
        grid-column: 1 / 2;
        margin: 10px;
    }

}
