* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Farro', sans-serif;
}

header,
header *,
footer {
    background-color: #3c0a64;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#menu {
    display: block;
    font-size: 2rem;
    border: 0;
}

#menu::before {
    content: "☰";
}

#menu.aberto::before {
    content: "X";
}

.ativo::before {
    content: "✔ ";
}

.navegacao {
    display: none;
    width: 100%;
    padding: 10px;
}

h1 {
    padding: 10px;
}

h2 {
    text-align: center;
    padding: 20px;
}

.navegacao.aberto {
    display: flex;
    flex-direction: column;
}

.navegacao a {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navegacao a:hover {
    background-color: #fff;
    color: #000;
    font-weight: 1900;
}

.templos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.templos figcaption {
    text-align: center;
    padding: 10px;
}

.templos figure img {
    width: 100%;
    display: block;
}

footer {
    font-family: 'Crimson', serif;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 10px;
    padding: 10px;
}